[mysqld]
datadir=/Users/johnn/Desktop/DBIx-Class-Migration/examples/MusicBase/share/musicbase-schema/var
pid-file=/Users/johnn/Desktop/DBIx-Class-Migration/examples/MusicBase/share/musicbase-schema/tmp/mysqld.pid
socket=/Users/johnn/Desktop/DBIx-Class-Migration/examples/MusicBase/share/musicbase-schema/tmp/mysql.sock
tmpdir=/Users/johnn/Desktop/DBIx-Class-Migration/examples/MusicBase/share/musicbase-schema/tmp
